.app {
    background-color: rgb(246, 191, 246);
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.logo {
    width: 80px;
}

.nav-items ul {
    display: flex;
    padding: 10px;
    gap:20px;
    list-style: none;
}

.nav-items ul li {
    cursor: pointer;
}

.search {
    padding: 10px
}

.res-container {
    display: flex; 
    gap: 10px;
    flex-wrap: wrap;
}

.res-info {
    padding: 10px;
}

.res-card {
    width: 200px;
    height: 100%;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}